
<br>
<div class="jumbotron">
  <h1>Bloccit</h1>
  <p>Bloccit is a resource for sharing links with your friends!</p>
  <p>
    <%= link_to "Sign In", new_user_session_path, class: "btn btn-primary" %>
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %> today!
  </p>
</div>
<div class="row">
  <div class="col-md-4">
    <h2>Find important information</h2>
    <p>Find information and answers to some of the most sought after questions currently on the internet.</p>
  </div>
  <div class="col-md-4">
    <h2>Further enhance your skills</h2>
    <p>Bloccit offers many posts to further develop your skills.</p>
  </div>
  <div class="col-md-4">
    <h2>Share your knowledge</h2>
    <p>You're awesome. You should share all of that awesomeness with others in a post.</p>
  </div>
</div>
